@model rhapsodyLatest.Models.LoginViewModel
@{
    ViewBag.Title = "Index";
}

<div class="loginform" action="/login/login" method="post">
    <div class="login">
        <div class="logo"><img src="~/rhapsodylatest/images/logo.png" alt=""></div>
        <div class="box_form">

            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin" }))
            {
                <text>
                @Html.AntiForgeryToken()

                @Html.LabelFor(m => m.UserName, new { @class = "sr-only" }) @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Brukernavn", autofocus = "autofocus" } })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "bg-danger validationMessage" })

                @Html.LabelFor(m => m.Password, new { @class = "sr-only" }) @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Passord", type = "password" } })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "bg-danger validationMessage" })
                <input type="submit" class='btn btn-primary' value="Login" />

                @Html.ValidationSummary(true)
                </text>
            }
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/a1a75d5546.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="js/app.js"></script>