@model rhapsodyLatest.Models.CategoryModel
@{
    ViewBag.Title = Model.Name;
}

<div class="app_category">
    <div class="category_title">
        <a href="/Category?id=@Model.ID"><p>@Model.Name</p></a>
    </div>
    <div class="cards">


            @foreach (var app in Model.APKs)
            {

                <div class="card">
                    <img src="@Url.Content(app.img)" alt="">
                    <div class="card_info">
                        <p class="app_name">@app.name</p>

                        <div>
                            @for (int x = 0; x < app.rate; x++)
                            {
                                <i class="fa fa-star"></i>
                            }

                        </div>

                        <p class="app_date">@app.date</p>
                        <div><button><a href="@Url.Content("/apk/download?id="+app.id)">Download</a></button></div>
                    </div>
                </div>

            }

    </div>
</div>

